.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 40px;
}

.Left {
  font-size: 30px;
  margin-right: 25%;
  padding-left: 15px;
  padding-right: 15px;
  color: #044e9c;
  font-size: 20px;
  text-decoration: none;
  position: relative;
}

.HomeIcon {
  font-size: 30px;
  color: #545454;
  padding-right: 1%;
  text-align: right;
}

.PersonIcon {
  font-size: 30px;
  color: #545454;
  padding-right: 1%;
}

.CalendarIcon {
  font-size: 30px;
  color: #545454;
  flex: 1;
  padding-right: 1%;
}

.Center {
  font-size: 30px;
  color: black;
  text-decoration: none;
  position: relative;
  font-family: 'Graduate', cursive;
  text-align: center;
  color: black;
  padding-left: 43%;
  padding-right: 40%;
}

.Center:hover {
  color: #545454;
}

.CalendarIcon:hover {
  color: black;
  text-align: right;
}

.PersonIcon:hover {
  color: black;
}

.HomeIcon:hover {
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
