.Grid {
  margin-top: 4%;
  margin-right: 10%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 2%;
}

.GridSchedule {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1%;
}

.ScheduleList {
  background-color: #005B80;
}

.Page {
  background-color: #cfdae6;
}
