.AllSchedules {
  margin-left: 15%;
  margin-top: 2%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
}

.GridSchedule {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 1%;
}

.ScheduleList {
  background-color: #ffdfa3;
}

.Page {
  /* background-color: #cfdae6; */
  background-color: #ffdfa3;
}

.icon {
  color: black;
  margin-right: 75%
}

.icon:hover {
  color: #545454;
}

.loading-gif {
  height: 100px;
  width:100px;
}
