.Scheduler {
  /* background-image: url(./images/hank.png); */

  /* background-color: #cfdae6; */
  background-color: #ffdfa3;
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.NewSchedule {
  margin-right: 75%;
  margin-top: 1%;
  font-size: 35px;
  display: inline-block;
  color: #545454;
}

.NewSchedule:hover {
  color: black
}

.TableContainer {
  font-size: 17px;
  margin-left: 10%;
  position: absolute;
  background-color: white;
  /* height: 80%; */
  width: 80%;
}
