
.float-child-right {
    margin-top: 1%;
    margin-right: 10%;
    width: 60%;
    float: right;

}

.float-child-left {
    width: 20%;
    margin-top: 3%;
    float: left;
    height: 650px;
    margin-left: 10%;
    background-color: white;
}


.Page {
  color: #545454;
  background-color: #cfdae6;
  /* background-color: #ffdfa3; */
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}

.SearchBar {
  border-radius: 30px;
  margin-top: 4%;
  font-size: 40px;
  padding-left: 5px;
  width: 90%;
  height: 70%;
  border-color: #c9c9c9;
}

.loading-gif {
  height: 100px;
  width:100px;
}
