
.float-child-right {
    margin-top: 1%;
    margin-right: 10%;
    width: 60%;
    float: right;

}

.float-child-left {
    width: 20%;
    margin-top: 2%;
    float: left;
    height: 700px;
    border-radius: 30px;
    margin-left: 10%;
    background-color: white;
    overflow-y:scroll;
}


.Page {
  color: #545454;
  background-color: #cfdae6;
  /* background-color: #ffdfa3; */
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  font-family: 'Open Sans', sans-serif;
}

.SearchBar {
  border-radius: 50px;
  margin-top: 4%;
  margin-left: 4%;
  font-size: 30px;
  padding-left: 2%;
  width: 100%;
  height: 70%;
  border-color: #c9c9c9;
}

.loading-gif {
  height: 50px;
  width: 50px;
}
