.login {
  height: 100%;
  background-image: url(../images/landing.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login__container {
  display: flex;
  flex-direction: column;
  text-align: center;
  opacity: 0.4;
  background-color: #dcdcdc;
  padding: 30px;
  width: 40%;
  min-width: 500px;
  max-width: 600px;
  opacity: 1;
}
.login__textBox {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.login__btn {
  padding: 10px;
  font-size: 18px;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: black;
}
.login__google {
  background-color: #4285f4;
}
.login div {
  margin-top: 7px;
}

.login_text {
  font-size: 15px
}

.Title {
  font-family: 'Graduate', cursive;
  font-size: 120px;
  color: white;
  padding-bottom: 30%;
  position: absolute;

}
